init:
  - set PATH=%PATH%;C:\MinGW\bin;%GOPATH%\bin
  - go version
  - go env
  - cd

install:
  - print %GOPATH%
  - go env
  - go get -v github.com/magefile/mage
  - dir %GOPATH%

build_script:
  - mage vendor gerygoneRace
  - mage -v check
  - gerygone
