init:
  - set PATH=%PATH%;C:\MinGW\bin;%GOPATH%\bin
  - go version
  - go env

# clones and cd's to path
clone_folder: C:\GOPATH\src\github.com\gohugoio\hugo

install:
  - go get github.com/magefile/mage

build_script:
  - mage vendor gerygoneRace
  - mage -v check
  - gerygone
